/**
* A stylesheet for the Shadow file converter help file
*
*   Created on : Jul 7, 2015, 8:09:31 PM
*   Author     : Ruslan Feshchenko
*/

.header {
    text-align: center;
    text-decoration: underline;
}

.intro {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: blue;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer {
    border-top-style: solid;
    border-width: 2px;
    border-color: blue;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.content {
    border-style: ridge;
    border-color: gray;
    border-width: 3px;
}

.controls {
    text-align:center;
}

.hidden, .hidden p, .hidden p code, .hidden h2 {
    font-size: 0px;
}

.hidden {
    height: 0px;
}
